<html>
<head>
<title>主页</title>
<link rel="stylesheet" href="/css/pure-min.css" />
<link rel="stylesheet" href="/css/content.css" />
</head>
<center>
<div style="height:100px;">&nbsp;</div>
<form id="form1" name="form1" method="post" action="">
	<table width="500" class="pure-table pure-table-bordered">
	  <tr>
		<td>Admin Username:</td>
		<td><input type="text" value="" name="name" id="name" /></td>
	  </tr>
	  <tr>
		<td>Admin Password:</td>
		<td><input type="password" value="" name="pwd" id="pwd" /></td>
	  </tr>
	   <tr>
		<td colspan="2" style="text-align:center">
		  <input type="submit" name="button" id="button" value="submit" />
	   </td>
	  </tr>
	</table>
</form>

<div style="color:red"><{$msg}></div>
</center>
</body>
</html>